NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
DATABASE_URL=file:dev.db

# follow instructions https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=[better_auth_secret_here]
BETTER_AUTH_URL=http://localhost:3000 # Better Auth URL
